.quote0co9ugddsvgIcon {
  width: 65px;
  height: 57px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reallyProfessionalAnd {
  width: 447.3px;
  position: relative;
  line-height: 36px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.separator {
  width: 92px;
  height: 3px;
  position: relative;
  background: linear-gradient(88.13deg, #0b0b5f, #fff);
}
.heading5 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.ceoJanicaLawCampbell {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-slategray);
}
.networkManager {
  gap: var(--gap-8xs);
}
.audioHandler,
.networkManager,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.audioHandler {
  gap: 19.599999999999454px;
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-200);
  font-family: var(--font-poppins);
}
.section {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 25px 60px rgba(11, 11, 95, 0.08);
  padding: var(--padding-21xl) var(--padding-21xl) 40.400000000000546px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 351px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-slategray);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 750px) {
  .section {
    gap: 20px 40px;
  }
}
@media screen and (max-width: 450px) {
  .reallyProfessionalAnd {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .heading5 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .section {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
