.imgIcon {
  height: 18px;
  width: 22.5px;
  position: relative;
}
.websites {
  width: 74px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 74px;
}
.button {
  align-self: stretch;
  height: 58px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 25px rgba(11, 11, 95, 0.08);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.emailTemplates,
.imgIcon1 {
  height: 18px;
  width: 22.5px;
  position: relative;
}
.emailTemplates {
  width: 133.1px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-lg);
  background-color: transparent;
  line-height: 18px;
  color: var(--color-midnightblue-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.button1 {
  align-self: stretch;
  height: 58px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 25px rgba(11, 11, 95, 0.08);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.imgIcon2 {
  height: 18px;
  width: 22.5px;
  position: relative;
}
.logoDesign {
  width: 100.2px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 100.2px;
}
.button2,
.section {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  height: 58px;
  box-shadow: 0 10px 25px rgba(11, 11, 95, 0.08);
  flex-direction: row;
  padding: var(--padding-lgi-5) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.section {
  height: 344px;
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-midnightblue-200);
  font-family: var(--font-roboto);
}
